body {
  background: #b0c4de;
}

p {
  margin: 0;
}

ul {
  list-style: none;
}

.link {
  text-decoration: none;
  outline: none;
  color: inherit;
  transition: color 250ms cubic-bezier(0, 1.79, 1, -1.16);
}

.link:focus,
.link:hover {
  color: #efefef;
}

.wrapper {
  text-align: center;
  border: 2px solid #efefef;
  border-radius: 15px;
  width: 500px;
  margin: 0 auto;
}

.variants-list {
  padding: 20px;
  text-align: center;
}

.variants-list-item:not(:last-child) {
  margin-bottom: 20px;
}

.variants-link {
  font-size: 24px;
}

.gallery {
  margin-top: 20px;
  display: flex;
  flex-wrap: wrap;
  gap: 20px;
  justify-content: center;
  margin-bottom: 10px;
}

.photo-card {
  border: 1px solid black;
  transition: box-shadow 250ms cubic-bezier(0.4, 0, 0.2, 1);
  background-color: #efefef;
}

.photo-card:focus,
.photo-card:hover {
  box-shadow: 0px 1px 1px rgba(0, 0, 0, 0.5), 0px 4px 4px rgba(0, 0, 0, 0.5),
    1px 4px 6px rgba(0, 0, 0, 0.5);
}

.info {
  text-align: center;
}

.search-form {
  display: flex;
  justify-content: center;
  margin-bottom: 20px;

  background-color: rgb(53, 80, 129);

  padding: 20px;
}

.search-form input {
  width: 400px;
  font-size: 20px;
}

.search-btn,
.load-more-btn {
  cursor: pointer;
  border: none;
  width: 170px;
  font-size: 20px;
  margin-left: 10px;
  outline: none;
  border-radius: 12px;
  background-color: #b0c4de;
  transition: background-color 250ms cubic-bezier(0, 1.79, 1, -1.16);
}

.load-more-btn {
  margin: 0 auto;
  background-color: #7789aa;
  height: 29px;
}

.load-more-btn:hover {
  background-color: #355081;
}

.search-btn:focus,
.search-btn:hover {
  background-color: #7789aa;
}
